

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: bisque;
  }

  
  header {
    position: relative;
    text-align: center;
    background-color: rgb(95, 38, 13);

  }
  
  .header-container {
    display: flex;
    justify-content: space-between; /* Pushes logo to left and nav to right */
    align-items: center;
    margin-bottom: 20px;
  }
  
  .logo-container {
    margin-right: auto; /* Pushes the logo to the far left */
  }
  
  .logo {
    margin: 0;
    color: bisque;
  }
  
  .navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .navbar ul li:last-child {
    margin-right: 0;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: bisque;
  }
  
  #about,
  #menu,
  #contact {
    padding: 20px;
  }
  
  img {
    width: 100%;
    height: auto;
  }

#about {
    background-color: rgb(95, 38, 13);
    color: bisque;
    text-align: center;
}

#contact {
    background-color: rgb(95, 38, 13);
    color: bisque;
    text-align: center;
}

#menu {
    color: rgb(95, 38, 13);
    text-align: center;
}

.coffee-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .coffee-items figure {
    margin: 10px;
  }
  
  .coffee-items img {
    max-width: 200px;
    height: auto;
  }
  
  .coffee-items figcaption {
    margin-top: 10px;
  }